<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>个人简介</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                此处文档编辑位置在：ye_superstar/_includes/about.html
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Donec elementum orci dui, eu euismod sem pellentesque sit amet. Nunc tempus consequat urna, vel
                consectetur odio mattis id. Nam nisi sem, tincidunt id risus et, auctor lacinia nulla. In hac habitasse
                platea dictumst.
            </p>
        </div>
    </div>
</section>
